on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

name: CI
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          skip: "yarn.lock,.git"

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Tests with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn run pretest
      - run: xvfb-run yarn run test

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'release' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Publish
        run: |
          yarn install --dev
          yarn run deploy-vs -p ${{ secrets.VSCE_PAT }}
          yarn run deploy-ovsx -p ${{ secrets.OPEN_VSX_PAT }}
